.app-wrapper{
  display: grid;
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 100%;
  height: 800px;

  grid-template-areas: 
  "instruments instruments instruments"
  "date chart chart"
  "outliner chart chart";
  grid-template-rows: 0.5fr 1fr 3fr;
  grid-template-columns: 2fr 12fr;
  grid-gap: 10px;
}